<%- model_class = Withdraw -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:account_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @withdraws.each do |withdraw| %>
      <tr>
        <td><%= link_to withdraw.id, withdraw_path(withdraw) %></td>
        <td><%= withdraw.account_id %></td>
        <td><%= Extenso.real_formatado( withdraw.amount ) %></td>
        <td><%=l withdraw.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      withdraw_path(withdraw), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_withdraw_path,
            :class => 'btn btn-primary' %>
<%= link_to 'Voltar', wellcome_index_path, :class => 'btn btn-warning' %>
