<%= form_for @transfer, :html => { :class => "form-horizontal transfer" } do |f| %>

  <% if @transfer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t (pluralize(@transfer.errors.count, "error") )%> prohibited this transfer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @transfer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :account_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :account_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:account_id) %>
  </div>
  <div class="form-group">
    <%= f.label :amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :amount, :class => 'form-control', :onKeyPress=>"return(moeda(this,'.',',',event))" %>
    </div>
    <%=f.error_span(:amount) %>
  </div>
  <div class="form-group">
    <%= f.label :account_to, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :account_to, :class => 'form-control' %>
    </div>
    <%=f.error_span(:account_to) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', wellcome_index_path, :class => 'btn btn-warning' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transfers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
